{{- if .Values.studioApi.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "linto-studio.fullname" . }}-api
  labels:
    {{- include "linto-studio.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.studioApi.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "linto-studio.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: api
{{- end }}
---
{{- if .Values.studioFrontend.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "linto-studio.fullname" . }}-frontend
  labels:
    {{- include "linto-studio.labels" . | nindent 4 }}
    app.kubernetes.io/component: frontend
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.studioFrontend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "linto-studio.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: frontend
{{- end }}
---
{{- if .Values.studioWebsocket.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "linto-studio.fullname" . }}-websocket
  labels:
    {{- include "linto-studio.labels" . | nindent 4 }}
    app.kubernetes.io/component: websocket
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.studioWebsocket.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "linto-studio.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: websocket
{{- end }}
---
{{- if .Values.mongodb.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "linto-studio.fullname" . }}-mongodb
  labels:
    {{- include "linto-studio.labels" . | nindent 4 }}
    app.kubernetes.io/component: mongodb
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.mongodb.service.port }}
      targetPort: mongodb
      protocol: TCP
      name: mongodb
  selector:
    {{- include "linto-studio.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: mongodb
{{- end }}
